body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
}

.header {
  background-color: aqua;
}

.main{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.pro-div{
  border: rgb(198, 191, 191) 2px solid;
  padding:  25px;
}
.pro-id{

color: black;}
.pro-text{
  font-size: 10px;
  align-self: center;
}

.pro-img{
  height: 100px;
  width: 100px;
}

.btn{
background-color: rgb(203, 104, 104) ;
  border: none;
}