body {
  font-family: Arial, Helvetica, sans-serif;
}



.container {
  font-size: 3rem;
  margin: auto;
  max-width: 100%;
  margin-top: 20px;
  margin: 35px 49px 0 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.width{
  width: 40%;
  border: 2px grey solid;
}